include MANIFEST.in
include LICENSE
include README.rst
include requirements.txt
include config.py
include docs/Makefile docs/make.bat
recursive-include docs *.md *.py
recursive-include ansible *.yml *.j2 *.txt
recursive-include tests *.py
