include MANIFEST.in
include LICENSE
include README.rst
include runtests.py
include release.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-include releases *.md *.rst *.json
recursive-include examples *.py *.js *.css *.html *.json
recursive-include tests *.py
