---
- name: Update PyEnv in {{ pyenv_path }}
  git:
    repo: https://github.com/yyuu/pyenv.git
    dest: "{{ pyenv_path }}"
    update: "{{ pyenv_update_git_install }}"

- name: Install PyEnv-virtualenv plugin
  git:
    repo: https://github.com/yyuu/pyenv-virtualenv.git
    dest: "{{ pyenv_path }}/plugins/pyenv-virtualenv"
    update: "{{ pyenv_update_git_install }}"

- name: Install .pyenvrc
  template:
    src: ".pyenvrc.j2"
    dest: "{{ pyenvrc }}"
    owner: "{{ pyenv_owner }}"
    group: "{{ pyenv_owner }}"
    mode: "0644"

- name: Modify {{ ansible_env.HOME }}/.bashrc
  lineinfile: dest="{{ ansible_env.HOME }}/.bashrc"
              regexp="\.pyenvrc$"
              line="source {{ pyenv_path }}/.pyenvrc"
              state=present

- name: Install Python interpreters {{ pyenv_python_versions }}
  shell: . {{ pyenvrc }} && pyenv install {{ item }}
         creates="{{ pyenv_path }}/versions/{{ item }}/bin/python"
  with_items: "{{pyenv_python_versions}}"

