{% if item.websocket | default(False) %}
map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}
{% endif %}

{% if item.maps | default(False) %}
{% include "maps.conf.j2" with context %}
{% endif %}

{% if item.certificate | default(False) %}
{% include "ssl.redirect.conf.j2" with context %}
{% endif %}

server {
{% if item.certificate | default(False) %}
{% include "https.conf.j2" with context %}
{% else %}
{% include "http.conf.j2" with context %}
{% endif %}


    # resolver configuration in case it is needed
    resolver            {{ nginx_resolver }} valid=300s;
    resolver_timeout    5s;

    # log files
    access_log  /var/log/nginx/{{ item.filename | default(item.domain) }}.access.log;
    error_log  /var/log/nginx/{{ item.filename | default(item.domain) }}.error.log;

    # SERVER NAME
    server_name {{ item.domain }};

    client_body_in_file_only clean;
    client_body_buffer_size 32K;
    client_max_body_size 300M;
    sendfile on;
    send_timeout 300s;

    proxy_http_version 1.1;

{% if item.locations | default(False) %}
{% for location in item.locations %}
{% if location.host | default(False) %}
{% include "location.proxypass.conf.j2" with context %}
{% elif location.s3location | default(False) %}
{% include "location.aws.conf.j2" with context %}
{% elif location.lines | default(False) %}
{% include "location.lines.conf.j2" with context %}
{% endif %}
{% endfor %}
{% endif %}

}
