from pulsar.utils.log import LOGGING_CONFIG as logconfig

redis_server = 'redis://{{ redis_host }}:{{ redis_port }}'
CACHE_SERVER = '%s/3' % redis_server
PUBSUB_STORE = data_store = '%s/4' % redis_server

{% if cookiename %}
SESSION_COOKIE_NAME = '{{ cookiename }}'
{% endif %}

MEDIA_URL = '/media/{{ install_timestamp }}/'

{% if github_content_repository %}
CONTENT_REPO = '{{ install_dir }}/content'
{% if github_webhook_secret %}
GITHUB_HOOK_SECRET = '{{ github_webhook_secret }}'
{% endif %}
{% endif %}

logconfig['handlers']['file'] = {
    'class': 'logging.FileHandler',
    'formatter': 'verbose',
    'filename': '{{ service_log_path }}/{{ item.name }}.log'
}

{% if item.port is defined %}
bind = ':{{ item.port }}'
{% endif %}

{% if item.workers is defined %}
workers = {{ item.workers }}
{% endif %}

process_name = '{{ process_name }}.{{ item.name }}'

pid_file = '{{ install_dir }}/{{ item.name }}.pid'

daemon = True

{% if item.template is defined %}
{% include item.template %}{% endif %}
